<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="ReportPath" value="Reports\SOReport1.rpt"/>
    <add key="ReportpathInvPrt1" value="Reports\InvPrt1.rpt"/>
    <add key="ReportpathInvPrt2" value="Reports\InvPrt2.rpt"/>
    <add key="ReportPathInvPrt3" value="Reports\invprt3.rpt"/>
    <add key="ReportpathInvPrtsl" value="Reports\InvPrtsl.rpt"/>
    <add key="ReportpathPackList" value="Reports\packinglstreport.rpt"/>
    <add key="ReportpathCoa" value="Reports\COA.rpt"/>
    <add key="FileToSavepath"  value="Temp\"/>
    <add key="FileAccessPath"  value="http://10.1.0.157:100/Temp/"/>
  </appSettings>
 <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />   

   <customErrors mode="Off"/>
   <httpRuntime executionTimeout="900000" maxRequestLength="2097152" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" 
                minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>
  </system.web>
  <connectionStrings>
    <add name="Polyplex_DB" connectionString="Data Source=ERM-POLYPEX-VIN\test;Initial Catalog=PolyplexPRD10July;Persist Security Info=True;User ID=sa;Password=pipl?123;User Instance=False" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>

    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="PolypelxPortal_WCF.PortalService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          bindingConfiguration="StreamedRequestWebBinding" contract="PolypelxPortal_WCF.IPortalService" />
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="StreamedRequestWebBinding" bypassProxyOnLocal="true" useDefaultWebProxy="false" hostNameComparisonMode="WeakWildcard" sendTimeout="10:15:00"
                 openTimeout="10:15:00" receiveTimeout="10:15:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"
                 maxBufferPoolSize="2147483647" transferMode="StreamedRequest">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />

        </binding>
      </webHttpBinding>
    </bindings>

    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" defaultOutgoingResponseFormat="Json" helpEnabled="true" 
                          contentTypeMapper="Microsoft.Samples.WebContentTypeMapper.JsonContentTypeMapper, JsonContentTypeMapper, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </webHttpEndpoint>
    </standardEndpoints>

    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>


    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"  />
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>    
</configuration>